aniso8601==7.0.0
asgiref==3.3.1
Django==3.1.6
graphene==2.1.8
graphql-core==2.3.2
graphql-relay==2.0.1
promise==2.3
python-dotenv==0.15.0
pytz==2021.1
Rx==1.6.1
six==1.15.0
sqlparse==0.4.1
whitenoise==5.2.0
