{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static "favicon.ico" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="{% static "style.css" %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <title>Swagur</title>
  </head>
  <body>
    <div class="jumbotron vertical-center">
      <div class="container">
        <div class="row">
          <div class="col-sm text-center">
            <img src="{% static "swagur.png" %}" style="max-width:10% !important" class="img-fluid" alt="Logo">
          </div>
        </div>
        <div class="row m-3">
          <div class="col-sm text-center">
            <h1>Swagur</h1>
          </div>
        </div>
        <div class="row">
          <div class="col-sm text-center">
            <button type="button" class="px-5 btn btn-lg btn-outline-primary dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#collapseUser" aria-expanded="false" aria-controls="collapseUser">User</button>
            <div class="collapse" id="collapseUser">
              <div class="card card-body m-2">
                <form class="row" action="/user/" method="post">
                  {% csrf_token %}
                  <div class="col-auto">
                    <input type="text" required class="form-control" id="user_id" name="user_id" placeholder="Enter user ID (i.e. address)">
                  </div>
                  <div class="col text-center">
                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
          <div class="col-sm text-center">
            <button type="button" class="px-5 btn btn-lg btn-outline-primary dropdown-toggle" data-bs-toggle="collapse" data-bs-target="#collapseMarket" aria-expanded="false" aria-controls="collapseMarket">Market</button>
            <div class="collapse" id="collapseMarket">
              <div class="card card-body m-2">
                <form class="row" action="/market/" method="post">
                  {% csrf_token %}
                  <div class="col-auto">
                    <input type="text" required class="form-control" id="market_id" name="market_id" placeholder="Enter market ID (i.e. address)">
                  </div>
                  <div class="col text-center">
                    <button type="submit" class="btn btn-primary mb-3">Submit</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
