{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="{% static "favicon.ico" %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link href="{% static "style.css" %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    <title>Swagur/user</title>
  </head>
  <body>
    <div class="jumbotron vertical-center">
      <div class="container">
        {% if market %}
        <h2 class="text-center">{{ market.description }}</h2>
        <div class="card m-2">
          <div class="card-header text-center">
            Market details
          </div>
          <div class="table-responsive m-2">
            <table class="table table-striped table-hover table-bordered">
              <tbody>
                <tr>
                  <td>ID</td>
                  <td>{{ market.id }}</td>
                </tr>
                <tr>
                  <td>Creator</td>
                  <td>{{ market.creator.id }} <a class="no-underline" href="../user/{{ market.creator.id }}">🔍</a></td>
                </tr>
                <tr>
                  <td>Owner</td>
                  <td>{{ market.owner.id }} <a class="no-underline" href="../user/{{ market.owner.id }}">🔍</a></td>
                </tr>
                <tr>
                  <td>Description</td>
                  <td>{{ market.longDescription }}</td>
                </tr>
                <tr>
                  <td>Status</td>
                  <td>{{ market.status }}</td>
                </tr>
                <tr>
                  <td>Type</td>
                  <td>{{ market.marketType }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        {% else %}
          <h1 class="text-center">Market not found</h1>
        {% endif %}
        <div class="d-grid card">
          <button class="btn btn-primary" type="button" onclick="window.history.back()">← Back</button>
        </div>
      </div>
    </div>
  </body>
</html>
